@charset "UTF-8";

.MainImgFullScreen--Container {
    display: flex;
    position: relative;
}

.Main--imgFullScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
}

.Main--imgFullScreenBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.closeImg {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    font-size: 20px;
    border: none;
    color: var(--White);
    background: none;
    cursor: pointer;
}

.closeImg i {
    transition: .3s;
}

.closeImg i:hover {
    color: var(--Orange);
}

.Main--next, .Main--previous {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--White);
    cursor: pointer;
}

.Main--next {
    top: 45%;
    left: 100%;
    transform: translate(-50%,-50%);
}

.Main--previous {
    top: 45%;
    left: 0%;
    transform: translate(-50%,-50%);
}

.Main--next i, .Main--previous i {
    transition: .3s;
}

.Main--next:hover, .Main--previous:hover {
    color: var(--Orange);
}





.Main--imgPrincipalFullScreenMobile {
    display: none;
}

.Main--nextMobile {
    display: none;
}

.Main--previousMobile {
    display: none;
}





.Main--imgPrincipalFullScreen {
    display: flex;
    transition: .5s;
}

.Main--imgPrincipalFullScreen img {
    width: 350px;
    border-radius: 13px;
}

.Main--imgSubFullScreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Main--imgsFullScreen {
    display: flex;
    transition: .5s;
}
.Main--imgsFullScreen button {
    border: none;
    background: none;
    height: 68px;
    cursor: pointer;
}
.Main--imgsFullScreen button:focus {
    outline: 2px solid var(--Orange);
    opacity: .3;
    border-radius: 13px;
}

.Main--imgsFullScreen img {
    width: 70px;
    border-radius: 13px;
}

.Main--imgsFullScreen:hover {
    opacity: .5;
}

.Main--imgsFullScreen img:focus {
    outline: 2px solid var(--Orange);
}

.Main--subBlock2FullScreen {
    display: flex;
    flex-direction: column;
    width: 65%;
}

@media screen and (max-width:850px) {
    .Main--imgPrincipalFullScreenMobile {
        display: flex;
    }

    .Main--imgPrincipalFullScreenMobile img {
        width: 100%;
    }

    .Main--nextMobile, .Main--previousMobile {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: var(--White);
        cursor: pointer;
    }
    
    .Main--nextMobile {
        top: 50%;
        left: 90%;
        transform: translate(-50%,-50%);
    }
    
    .Main--previousMobile {
        top: 50%;
        left: 10%;
        transform: translate(-50%,-50%);
    }
    
    .Main--nextMobile  i, .Main--previousMobile i {
        transition: .3s;
    }
    
    .Main--nextMobile:hover, .Main--previousMobilehover:hover {
        color: var(--Orange);
    }
    
}