@charset "UTF-8";

.NavBar--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 90px;
    border-bottom: 1px solid var(--GrayishBlue);
}

.NavBar--block1, .NavBar--block2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 45px;
    position: relative;
}

.NavBar--logo img {
    width: 100%;
    cursor: pointer;
}

.Burger--container {
    display: none;
}

.Burger--icon {
    z-index: 3;
}

.NavBar--ul ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}

.NavBar--ul li {
    font-size: 15px;
    color: var(--DarkGrayishBlue);
    cursor: pointer;
    transition: .3s;
    position: relative;
}

.NavBar--ul li::after {
    content: '';
    position: absolute;
    top: 265%;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    transition: width .5s; 
}

.NavBar--ul li:hover::after {
    width: 100%; 
    border: 2px solid var(--Orange);
}

.NavBar--ul li:hover {
    color: var(--Black);
}

.NavBar--shoppingCart {
    display: flex;
    color: var(--DarkGrayishBlue);
    cursor: pointer;
    transition: .3s;
}

.NavBar--shoppingCart:hover {
    color: var(--Black);
}

.Cart--container {
    display: flex;
    position: relative;
}

.Cart--block {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: -150%;
    transform: translate(-52%, 24%);
    width: 300px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.Cart--title {
    display: flex;
    font-size: 13px;
    padding: 15px;
    border-bottom: 1px solid var(--GrayishBlue);
}

.Cart--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 700;
    color: var(--DarkGrayishBlue);
    gap: 20px;
}

.NavBarCart--notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 13px;
    position: absolute;
    top: 4%;
    left: 4%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    border-radius: 25px;
    color: var(--White);
    background-color: var(--Orange);
}

.Cart--contentBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 10px;
}

.Cart--contentImg img {
    display: flex;
    width: 40px;
    border-radius: 5px;
}

.Cart--contentValue {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.Cart--contentValueTotal {
    font-weight: 700;
    color: var(--Black);
}

.Cart--contentDelete img {
    display: flex;
    transition: .3s;
}

.Cart--contentDelete img:hover {
    filter: brightness(0%);
}

.Cart--contentCheckout {
    display: flex;
    align-items: center;
    width: 90%;
}

.Cart--contentCheckout button {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 15px rgba(255, 68, 0, 0.4);
    color: var(--White);
    background-color: var(--Orange);
    transition: .5s;
    cursor: pointer;
}

.NavBar--profile {
    display: flex;
    cursor: pointer;
}

.NavBar--profile img {
    display: flex;
    width: 50px;
    border-radius: 50%;
}

.NavBar--profile img:hover {
    outline: solid var(--Orange)
}

@media screen and (max-width: 850px) {
    .NavBar--container {
        width: 90%;
        height: 70px;
    }

    .NavBar--block1, .NavBar--block2 {
        gap: 25px;
    }

    .NavBar--ul ul {
        display: none;
    }

    .Burger--container {
        display: flex;
    }

    .Burger--ul ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 55%;
        height: 110vh;
        position: fixed;
        top: 0%;
        left: 0%;
        list-style-type: none;
        padding: 100px 0px 0px 20px;
        gap: 25px;
        background-color: var(--White);
        box-shadow: 200px 0px 0px rgba(0, 0, 0, 0.4);
        z-index: 2;
    }
    
    .Burger--ul li {
        font-size: 18px;
        font-weight: 700;
        color: var(--Black);
        cursor: pointer;
        position: relative;
    }

    .Cart--block {
        display: flex;
        top: 50%;
        left: 50%;
        transform: translate(-83%, 20%);
        z-index: 1;
    }
}
