@charset "UTF-8";

.NavBar--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 14vh;
    border-bottom: 1px solid var(--GrayishBlue);
}

.NavBar--block1, .NavBar--block2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 45px;
}

.NavBar--logo img {
    width: 100%;
    cursor: pointer;
}

.Burger--container {
    display: none;
}

.Burger--icon {
    z-index: 2;
}

.NavBar--ul ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}

.NavBar--ul li {
    font-size: 15px;
    color: var(--DarkGrayishBlue);
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.NavBar--ul li::after {
    content: '';
    position: absolute;
    top: 275%;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    transition: width .5s; 
}

.NavBar--ul li:hover::after {
    width: 100%; 
    border: 2px solid var(--Orange);
}

.NavBar--ul li:hover {
    color: var(--Black);
}

.NavBar--shoppingCart {
    display: flex;
    color: var(--DarkGrayishBlue);
    cursor: pointer;
    transition: .3s;
}

.NavBar--shoppingCart:hover {
    color: var(--Black);
}

.Cart--block {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 16.3%;
    left: 70%;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.Cart--title {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid var(--GrayishBlue);
}

.Cart--content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 700;
    color: var(--DarkGrayishBlue);
}

.NavBar--profile {
    display: flex;
    cursor: pointer;
}

.NavBar--profile img {
    display: flex;
    width: 50px;
    border-radius: 50%;
}

.NavBar--profile img:hover {
    outline: solid var(--Orange)
}

@media screen and (max-width: 950px) {
    .NavBar--container {
        width: 90%;
        height: 70px;
    }

    .NavBar--block1, .NavBar--block2 {
        gap: 25px;
    }

    .NavBar--ul ul {
        display: none;
    }

    .Burger--container {
        display: flex;
    }

    .Burger--ul ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 55%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        list-style-type: none;
        padding: 100px 0px 0px 20px;
        gap: 25px;
        background-color: var(--White);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
    
    .Burger--ul li {
        font-size: 18px;
        font-weight: 700;
        color: var(--Black);
        cursor: pointer;
        position: relative;
    }

    .Cart--block {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-130%);
        z-index: 2;
    }
}
